{% extends 'base1.html' %}
{% load staticfiles %}
{% block page_content %}
<div class="right_col" role="main">
    <div class="row">
        <div class="col-md-12">
            <div class="col-middle">
                <div class="text-center text-center">
                    <h1 class="error-number">{{ error_list.number }}</h1>
                    <h2>{{ error_list.title }}</h2>
                    <p>{{ error_list.conten1 }} <a href="#">{{ error_list.conten2 }}</a></p>
                    <div class="mid_center">
                        <h3>Search</h3>
                        <form>
                            <div class="col-xs-12 form-group pull-right top_search">
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="Search for...">
                                    <span class="input-group-btn">
                                        <button class="btn btn-default" type="button">Go!</button>
                                    </span>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock page_content %}


