{% extends 'base2.html' %}

{% block main %}
    {% if error_msg %}
        <p>{{ error_msg }}</p>
    {% endif %}

    {% for post in post_list %}
    <article class="post post-1">
        <header class="entry-header">
            <h3><a href="#">标题：{{ post.title }}</a></h3> <br>
            <a href="#">分类：{{ post.category.name }}</a>  &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
            <a href="#"><time class="entry-date" datetime={{ post.created_time }}>创建时间：{{ post.modified_time }}</time></a>  &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
            <a href="#">创建人：{{ post.author }}</a> &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
        </header>
        <div class="entry-content clearfix">
            <p>内容概要：{{ post.excerpt }} &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
                <a href="{{ post.get_absolute_url }}" class="more-link"> --> 查看详情</a>
            </p>
            <hr style="border: 0.4px dashed #a8b0cc;"/>
        </div>
    </article>
    {% empty %}
        <div class="no-post">暂时还没有发布的资料！</div>
    {% endfor %}

    <!-- 简单分页效果 -->
    {% if is_paginated %}
        <div class="pagination-simple">
            <!-- 如果当前页还有上一页，显示一个上一页的按钮 -->
            {% if page_obj.has_previous %}
                <a href="?page={{ page_obj.previous_page_number }}">上一页</a>
            {% endif %}
            <!-- 显示当前页面信息 -->
            <span class="current">第 {{ page_obj.number }} 页 / 共 {{ paginator.num_pages }} 页</span>
            <!-- 如果当前页还有下一页，显示一个下一页的按钮 -->
            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">下一页</a>
            {% endif %}
        </div>
    {% endif %}

    <!--完善分页效果-->
<!--{% if is_paginated %}-->
    <!--<div class="pagination">-->
    <!--{% if first %}-->
        <!--<a href="?page=1">1</a>-->
    <!--{% endif %}-->
        <!--{% if left %}-->
            <!--{% if left_has_more %}-->
            <!--<span>...</span>-->
            <!--{% endif %}-->
            <!--{% for i in left %}-->
            <!--<a href="?page={{ i }}">{{ i }}</a>-->
            <!--{% endfor %}-->
        <!--{% endif %}-->
        <!--<a href="?page={{ page_obj.number }}" style="color: red">{{ page_obj.number }}</a>-->
        <!--{% if right %}-->
            <!--{% for i in right %}-->
            <!--<a href="?page={{ i }}">{{ i }}</a>-->
            <!--{% endfor %}-->
            <!--{% if right_has_more %}-->
                <!--<span>...</span>-->
            <!--{% endif %}-->
        <!--{% endif %}-->
        <!--{% if last %}-->
            <!--<a href="?page={{ paginator.num_pages }}">{{ paginator.num_pages }}</a>-->
        <!--{% endif %}-->
    <!--</div>-->
<!--{% endif %}-->

{% endblock main %}
