.yanzhengma{ height:36px;}
.yanzhengma input.yzm{ width:80px; padding:0 5px; border:1px solid #ddd; height:30px; line-height:20px; margin-top:0px;}
.yanzhengma span{ line-height:36px;}
.yanzhengma img{ height:30px; width:100px ;margin:0 -15px 0 10px;}

.yanzhengmahide{color:red;margin:0 0 10px 0;}

.fl{ float:left}

